body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

.ReactVirtualized__Table__row {
    border: 1px solid black !important;
}

.ReactVirtualized__Table__row:nth-of-type(even) {
    background-color: rgb(245, 248, 255);
    cursor: pointer;
}
.ReactVirtualized__Table__row:nth-of-type(odd) {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}
